@font-face {
    font-family: '';
    src: url('Cafe24OhsquareOTF.woff2') format('woff2'),
        url('Cafe24OhsquareOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gaegu';
    src: url('Gaegu-Bold.woff2') format('woff2'),
        url('Gaegu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gaegu';
    src: url('Gaegu-Light.woff2') format('woff2'),
        url('Gaegu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gaegu';
    src: url('Gaegu-Regular.woff2') format('woff2'),
        url('Gaegu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ownglyph corncorn';
    src: url('Ownglyph_corncorn-Rg.woff2') format('woff2'),
        url('Ownglyph_corncorn-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

