/* header 수정 */
.page-login header {
  background-color: rgba(255, 255, 255, 0.1);
}

.page-login header:hover {
  background-color: black;
}

/* 로그인 section 생성 */
.page-login .section-p {
  width: 100%;
  padding: 100px 0;
  background-color: rgba(255, 255, 255, 0.1);
}
.page-login .section-inner {
  width: 500px;
  /*eight: 500px; 임시*/
  margin: 0 auto;
  text-align: center;
  background-color: black;
  padding: 80px 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* 로그인 - 1번째 박스 */
.page-login .login-title h3 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.page-login .login-title p {
  color: rgba(255, 255, 255, 0.6);
}

/* 로그인 - 2번째 박스(폼) */
.page-login .login-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}

.page-login .login-field label {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}
.page-login .login-field input {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 0px 16px;
  box-sizing: border-box; /* 이거 없으면 옆으로 늘어난다 */
}
.page-login .login-field input:hover {
  border-color: white;
  border: 2px solid #ff6600;
}
.page-login .login-field input:focus {
  border-color: white;
  border: 2px solid #ff6600;
}

.page-login .login-save {
  margin-top: -16px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.page-login .login-save label {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}

.page-login .login-save input {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  accent-color: #ff6600; /* 한화 포인트 컬러 */
}

.page-login button {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;
  background-color: #ff6600;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

/* 로그인 - 마지막박스 */

.page-login .login-text {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page-login .login-text-flex {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.page-login .login-text-link-color {
  position: relative;
  text-decoration: none;
  color: #ff6600;
  margin-left: 4px;
}

.page-login .login-text-link-color::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 1px;
  width: 100%;
  height: 1px;
  background-color: #ff6600;
}

.page-login .login-text-link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
}

.page-login .login-text-link-divider {
  position: relative;
  padding-right: 16px; /* 선과 텍스트 사이 여백 */
}

.page-login .login-text-link-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.6);
}
